{% extends 'base.html' %}
{% block title %}Services{% endblock title %}
{% block body %}

<div class="container my-4">
  <h1 class="my-2 text-center">Our Services</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm"> 
        <div class="card-body">
           <img src="/static/image/Stream.webp" width="387" height="300">
          <p class="card-text">Streaming Platforms.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button> <button
                type="button" class="btn btn-sm btn-outline-secondary">Edit</button> </div> <small
              class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <img src="/static/image/Ai music generator.jpg" width="387" height="300">
          <p class="card-text">AI Music Generator.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button> <button
                type="button" class="btn btn-sm btn-outline-secondary">Edit</button> </div> <small
              class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm"> 
        <div class="card-body">
          <img src="/static/image/Muisc theory.jpg" width="387" height="300">
          <p class="card-text">Music theory lessons.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button> <button
                type="button" class="btn btn-sm btn-outline-secondary">Edit</button> </div> <small
              class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm"> 
        <div class="card-body">
               <img src="/static/image/cultural.jpg" width="387" height="300">
          <p class="card-text">Cultural playlists.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button> <button
                type="button" class="btn btn-sm btn-outline-secondary">Edit</button> </div> <small
              class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm"> 
        <div class="card-body">
            <img src="/static/image/Videos.jpg" width="387" height="300">
          <p class="card-text">Music videos.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button> <button
                type="button" class="btn btn-sm btn-outline-secondary">Edit</button> </div> <small
              class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm"> 
        <div class="card-body">
                 <img src="/static/image/Ai.jpg" width="387" height="300">
          <p class="card-text">AI-assisted songwriting.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button> <button
                type="button" class="btn btn-sm btn-outline-secondary">Edit</button> </div> <small
              class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm"> 
        <div class="card-body">
          <img src="/static/image/cover1.jpg" width="387" height="300">
          <p class="card-text">Cover art generators.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button> <button
                type="button" class="btn btn-sm btn-outline-secondary">Edit</button> </div> <small
              class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm"> 
        <div class="card-body">
           <img src="/static/image/sales.jpeg.crdownload" width="387" height="300">
          <p class="card-text">Digital music sales.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button> <button
                type="button" class="btn btn-sm btn-outline-secondary">Edit</button> </div> <small
              class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm"> 
        <div class="card-body">
            <img src="/static/image/ticket.png" width="387" height="300">
          <p class="card-text">Ticketing integration.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button> <button
                type="button" class="btn btn-sm btn-outline-secondary">Edit</button> </div> <small
              class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock body %}

